<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-theme-secondary text-theme-primary">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi molestiae distinctio, quos quae praesentium enim quaerat, tenetur rerum, minima esse veniam? Dolorem, iure nesciunt cum accusamus id praesentium ea, sapiente repellendus perspiciatis fugiat modi molestias, ut consectetur aliquid quisquam velit? Voluptatem, inventore fugit laudantium, dolores dolorem tenetur blanditiis sed velit beatae nisi saepe voluptate. Consequatur, minima facere porro ipsum quibusdam necessitatibus impedit veritatis assumenda? Optio iste iure earum rem voluptatem ipsam. Saepe dolorem culpa maiores, suscipit cum sed repudiandae quibusdam voluptatem voluptatum excepturi laudantium at eum neque magni unde? Rem necessitatibus quas cupiditate consectetur perspiciatis aspernatur quis et dolore est.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At quisquam earum voluptates, deleniti tenetur, temporibus non vitae velit sed, beatae commodi alias ipsam debitis mollitia sint? Consequatur ipsum unde, laborum laudantium sed voluptatem impedit, aliquam illum tempora aspernatur magnam expedita consectetur consequuntur. Magnam qui, officia nemo doloremque beatae perspiciatis ea?</p>

      <div class="text-center">
        <button class="btn btn-info btn-md mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
